.body {
  /*definindo a fonte de todo o nosso body*/
  font-family: 'Roboto', sans-serif;
  margin: 0;
  justify-content: space-around;
  width: 100%;
  background-color: #3b7355;
}

.header .logo3 {
  left: -35%;
  position: relative;
  padding: 0px;

}

.logo3 {
  display: flex;
  position: relative;
  width: 60px;
  height: 60px;
  top: 5px;

}


.li {
  /*retirando as bolinhas das nossas listas*/
  list-style: none;
}

.header {
  /*torna o elemento um flex container automaticamente transformando todos os seus filhos diretos em flex itens*/
  display: flex;
  position: relative;
  /*deixa o nosso header fixo*/
  width: 100%;
  height: 0px;
  background-color: #3b7355;

}

.header .nav {
  /*elemento no html que aponta*/
  display: flex;
  padding: 0px;
  justify-content: flex-end;
  position: relative;
  width: 100%;
}


.header .nav {
  /*elemento no html que aponta*/
  display: flex;
  justify-content: flex-end;
  width: 100%;
  height: 70px;
}

.listamenu {
  display: flex;
  justify-content: space-evenly;
  /*espaçamento entre eles seja igual*/
  width: 50%;
  align-items: center;
  padding: 0;
}



/*pegando os itens com tag a de dentro da nossa lista*/
.listamenu li>a {
  color: #fff;
  font-size: 18px;
  text-decoration: inherit;
  padding: 0;
}

.container2 {
  margin-top: 70px;

  max-width: 100%;
  background-color: #fff;
  height: 100%;
  width: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
}

.box {
  justify-content: center;
  align-items: center;
  background-color: #fff;

  width: 390px;
  height: 100%;
  border-radius: 20px;
  flex-direction: column;

}

.Titulo {
  font-size: larger;
  color: #fff;
}

.Subtitulo {
  font-size: larger;
  color: #fff;
}

.strong {
  margin-left: 20px;
  color: black;
  font-size: larger;
}

.input {
  margin-left: 20px;
  color: black;
  width: 90%;
  height: 50px;
  border-radius: 5px;
  margin: 10px 20px;
  border: 1px solid #888;
  background: #b4d2c2;
}

.input:hover {
  border-radius: 20px;
  box-shadow: 0 0 15px transparent;
  text-shadow: 0 0 15px transparent;
  transition: 0.7s;
  cursor: pointer;
  background-color: #b4d2c2;
}

.select {
  width: 90%;
  height: 60px;
  border-radius: 5px;
  margin: 10px 20px;
  border: 1px solid #888;
  background: #b4d2c2;
}

.select:hover {
  color: black;
  background-color: #b4d2c2;
  border-radius: 20px;
  transition: 0.7s;
}

.label {
  margin-left: 20px;
  font-size: larger;
  color: #fff;
}

.button {
  margin-left: 20px;
  color: #888;
  width: 90%;
  height: 50px;
  border-radius: 5px;
  margin: 10px 20px;
  border: 1px solid #888;
  color: #333;
  background: #b4d2c2;
}

.button:hover {
  border-radius: 20px;
  box-shadow: 0 0 15px transparent;
  text-shadow: 0 0 15px transparent;
  transition: 0.7s;
  cursor: pointer;
  color: black;
  background-color: #d68749;
}



/*Footer*/
.footer {
  width: 100%;
  background-color: #3b7355;
  height: 10vh;
  display: flex;
  align-items: center;
  text-align: center;
}

.lista-footer li {
  color: #ffff;
  font-weight: 700;
  font-size: 18px;
  margin-bottom: 16px;
  display: flex;
  align-items: center;
}

@media screen and(max-width: 768px) {
  .body {
    width: 70%;
    flex-direction: column;
  }
}