.body {
  /*definindo a fonte de todo o nosso body*/
  font-family: 'Roboto', sans-serif;
  margin: 0;
  justify-content: space-around;
  width: 100%;
  background-color: #3b7355;
}



.logo {
  display: flex;
  position: fixed;
  width: 55px;
  height: 55px;
  top: 5px;
  left: 50px;
}

.container2 {
  margin-top: 70px;
  margin-right: auto;
  margin-left: auto;
  max-width: 100%;
  background-color: #3b7355;
  height: 100%;
  width: 100%;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

.box {
  justify-content: center;
  align-items: center;
  background: #29212110;
  border: 3px solid white;
  width: 390px;
  height: 100%;
  -webkit-backdrop-filter: blur(20px);
  border-radius: 20px;
  flex-direction: column;
  backdrop-filter: blur(20px);
}

.Titulo {
  font-size: larger;
  color: #fff;
}

.Subtitulo {
  font-size: larger;
  color: #fff;
}

.strong {
  margin-left: 20px;
  color: #fff;
  font-size: larger;
}

.input {
  margin-left: 20px;
  color: black;
  width: 90%;
  height: 50px;
  border-radius: 5px;
  margin: 10px 20px;
  border: transparent;
  background: #b4d2c2;
}

.input:hover {
  border-radius: 20px;
  box-shadow: 0 0 15px transparent;
  text-shadow: 0 0 15px transparent;
  transition: 0.7s;
  cursor: pointer;
  background-color: #b4d2c2;
}

.select {
  width: 90%;
  height: 60px;
  border-radius: 5px;
  margin: 10px 20px;
  border: transparent;
  background: #b4d2c2;
}

.select:hover {
  color: black;
  background-color: #b4d2c2;
  border-radius: 20px;
  transition: 0.7s;
}

.label {
  margin-left: 20px;
  font-size: larger;
  color: #fff;
}

.button {
  margin-left: 20px;
  color: #fff;
  width: 90%;
  height: 50px;
  border-radius: 5px;
  margin: 10px 20px;
  border: transparent;
  background: #b4d2c2;
}

.button:hover {
  border-radius: 20px;
  box-shadow: 0 0 15px transparent;
  text-shadow: 0 0 15px transparent;
  transition: 0.7s;
  cursor: pointer;
  color: black;
  background-color: #b4d2c2;
}

@media screen and(max-width: 768px) {
  .body {
    width: 100%;
    flex-direction: column;
  }
}

/*Footer*/
.footer {
  background-color: #3b7355;
  height: 30vh;
  display: flex;
  align-items: center;
  text-align: center;
}

.lista-footer li {
  color: #ffff;
  font-weight: 700;
  font-size: 18px;
  margin-bottom: 16px;
  display: flex;
  align-items: center;
}

.footer {
  width: 100%;
  border: 10px solid black;
}