.container {
  width: 100%;
  height: 1000px;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Logo{
  width: 100px;
  background-image: url("https://www.uniceplac.edu.br/app/themes/default/dist/images/logos/logo_b0eb422c.svg");
}


.box {  
  width: 380px;
  height: 100%;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #29212110;
  border: 5px solid black;
  backdrop-filter: blur(20px);
}

.input {
  color: white;
  width: 90%;
  height: 50px;
  border-radius: 5px;
  margin: 10px 0;
  border: transparent;
  background: #e67e22;
}

.input:hover {
  border-radius: 20px;
  box-shadow: 0 0 15px transparent;
  text-shadow: 0 0 15px transparent;
  transition: 0.7s;
  cursor: pointer;
  background-color: #1e6443;
}

.select {
  color: white;
  width: 90%;
  height: 60px;
  border-radius: 5px;
  margin: 10px 0;
  border: transparent;
  background: #e67e22;
}

.Titulo {
  font-size: larger;
  color: white;
}

.Subtitulo {
  font-size: larger;
  color: white;
}

.label {
  font-size: larger;
  color: white;
}

.button {
  color: white;
  width: 90%;
  height: 50px;
  border-radius: 5px;
  margin: 10px 0;
  border: transparent;
  background: #e67e22;
}

.button:hover {
  border-radius: 20px;
  box-shadow: 0 0 15px transparent;
  text-shadow: 0 0 15px transparent;
  transition: 0.7s;
  cursor: pointer;
  background-color: #1e6443;
}


@media screen and(max-width:768px) {
  .body {
    background-position: center;
    width: 100%;
    height: 100%;
    flex-direction: column;
  }
}