.Titulo{
  color: white;
}

.Subtitulo{
  color: white;
}

.strong{
  color: white;
}



.body {
  /*definindo a fonte de todo o nosso body*/
  font-family: "Roboto", sans-serif;
  margin: 0;
  justify-content: space-around;
 /*define a área de margem nos quatro lador do elemento*/
 margin: 0;
 /*distância entre o conteúdo de um elemento e suas bordas*/
 padding: 0;
 /*para configurar uma ou mais das propriedades de contorno*/
 outline: 0;
 

}

.turminha {
  margin-top: 10px;
  width: 70%;
  border: 5px solid #d68749;

}

.turminha:hover {
  border: 5px solid #1e6443;
  border-radius: 25px;
  transition: 1s;
}

.logo {
  display: flex;
  position: fixed;
  width: 60px;
  height: 60px;
  top: 5px;
  left: 50px;
}


.li {
  /*retirando as bolinhas das nossas listas*/
  list-style: none;
}

.header-menu {
  /*torna o elemento um flex container automaticamente transformando todos os seus filhos diretos em flex itens*/
  display: flex;
  position: fixed;
  /*deixa o nosso header fixo*/
  width: 100%;
  /*largura*/
  padding: 8px;
  /*espaçamento dos 4 lados*/
  padding-bottom: 32px;
  /*espaçamento inferior*/
  padding-top: 32px;
  /*espaçamento superior*/
  height: 5px;
  background-color: #3b7355;

}

.header-menu nav {
  /*elemento no html que aponta*/
  display: flex;
  justify-content: flex-end;
  width: 100%;
}

.lista-menu {
  display: flex;
  justify-content: space-evenly;
  /*espaçamento entre eles seja igual*/
  width: 50%;
  align-items: center;
  padding-right: 50px;
}

/*pegando os itens com tag a de dentro da nossa lista*/
.lista-menu li>a {
  color: #fff;
  font-size: 18px;
  text-decoration: inherit;
  padding-right: 10px;
}

.principal {
  height: 100vh;
  display: flex;
  background-color: #eaeaea;
}

/*o container é um componente do Bootstrap que garante que o seu layout vai ficar alinhado corretamente na página.
ele pode definir as margens laterais da página, ou deixar sem margens e, também, posiciona o conteúdo no
centro do browser. O container é invisível.*/
.container {
  margin-right: auto;
  /*uma margem automática para todos os lados*/
  margin-left: auto;
  /**/
  max-width: 960px;
  /*largura máxima*/
  padding-right: 10px;
  /*espaçamento direito*/
  padding-left: 10px;
  /*espaçamento esquerdo*/
  width: 100%;
  /*largura*/
}

.subcontainer-principal {

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.topico-principal {
  font-size: 36px;
  color: #1e6443;
}

.lista-item {
  padding: 32px;
  /*espaçamento dos 4 lados*/
}

.lista-item ul li {
  margin-bottom: 32px;
  /*espaçamento entre os itens da nossa lista*/
}

.lista-titulo {
  margin-bottom: 5px;
  /*espaçamento entre os itens da nossa lista*/
  font-size: 22px;
  color: white;
  font-weight: 700;
}

.lista-local {
  font-size: 18px;
  color: white;
}

.lista-descricao {
  font-size: 18px;
  margin-top: 5px;
  line-height: 20px;
  /*espaçamento entre as linhas*/
  color: #828282;
  font-weight: 300;
}

.wrapper-portfolio {
  /*como se fosse o pacote do nosso portfolio*/
  background-color: #eaeaea;
  display: flex;
  flex-direction: column;
}

.article-lista {
  display: flex;

  margin-left: 0px;
  margin-top: 100px;
  margin-bottom: 100px;
  flex-direction: column;
}

.subtitulo-lista {
  font-size: 18px;
  color: #828282;
  font-weight: 500;
}

.footer {
  background-color: #3b7355;
  color: #fff;
  height: 30vh;
  display: flex;
  align-items: center;
  text-align: center;
}

.lista-footer li {
  color: #ffff;
  font-weight: 700;
  font-size: 18px;
  margin-bottom: 16px;
  display: flex;
  align-items: center;
}

.nome-completo {
  font-size: 36px;
  color: #1e6443;
  font-weight: 700;
  /*espessura*/
  height: 45px;
}

.texto-sobre {
  font-size: 20px;
  line-height: 32px;
  /*espaçamento entre as linhas*/
}

.criador {
  color: #1e6443;
  height: 60px;
  /*altura*/
}

.link-cad {
  color: #eaeaea;
  background-color: #d68749;
  border: 5px solid #d68749;
}

.link-cad:hover {
  background-color: #1e6443;
  border: 5px solid #1e6443;
  border-radius: 5px;
  transition: 0.5s;
}

.Alert{
 width: 100px;
  margin-bottom: 5px;
  font-size: 22px;
  color: red;
  border: solid red;
  font-weight: 700;
}

