@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;500&display=swap');

.body {
  background-image: url("https://www.uniceplac.edu.br/app/uploads/2021/06/gHL5G4ZToBmXUsTodFDTYNhXpHbzlwgDIZwAVwcC-1024x1024.png");
  background-position: center;
  justify-content: space-around;
  background-size: cover;
  margin: 0;
  width: 100%;
  outline: 0;
}

.strong {
  color: #fff;
}

.header {
  height: 100%;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.container {

  width: 100%;
  height: 100%;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}


.login {
  width: 80%;
  max-width: 600px;
  height: 50%;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #29212110;
  border: 2px solid black;
  backdrop-filter: blur(20px);
}

.input {
  color: white;
  width: 90%;
  height: 50px;
  border-radius: 5px;
  margin: 10px 0;
  border: transparent;
  background: #e67e22;
}

.input:hover {
  border-radius: 20px;
  box-shadow: 0 0 15px transparent;
  text-shadow: 0 0 15px transparent;
  transition: 0.7s;
  cursor: pointer;
  background-color: #1e6443;
}

.submit {
  height: 50px;
  background-color: #e67e22;
}

.submit:hover {
  box-shadow: 0 0 15px;
  text-shadow: 0 0 15px;
  transition: 1s;
  border-radius: 20px;
  background-color: #1e6443;
}

.select {
  color: white;
  width: 90%;
  height: 60px;
  border-radius: 5px;
  margin: 10px 0;
  border: transparent;
  background: #e67e22;
}

.h1 {
  font-size: larger;
  color: white;
}

.h2 {
  font-size: larger;
  color: white;
}

.label {
  font-size: larger;
  color: white;
}

@media screen and(max-width:768px) {
  .body {
    width: 100%;
    flex-direction: column;
  }
}